@import "styles/theme";

.table {
  border-collapse: collapse;
  font-family: $font-base;
  overflow: hidden;
  color: var(--off-white, $off-white);
  box-sizing: border-box;
  border-style: hidden;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;

  .header {
    padding: 10px 12px;
  }

  .action-row {
    width: 35px;
    padding: 0;
  }

  td {
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 2px solid var(--table-black-color, $table-black-color);
    }
  }

  thead {
    background-color: var(--table-color-3, $table-color-3);

    tr {
      border-bottom: 1px solid transparent;
    }
  }

  tbody {
    .select-row {
      width: 35px;
    }

    td {
      padding: 8px 12px;

      div {
        display: flex;
      }

      i:hover {
        cursor: pointer;
        color: rgba(#000, 0.8);
      }
    }

    tr {
      background-color: var(--table-color-1, $table-color-1);

      &:not(:last-child) {
        border-bottom: 1px solid var(--table-color-2, $table-color-2);
      }

      &:nth-child(2n) {
        background-color: var(--table-color-2, $table-color-2);
      }
    }
  }
}
